# Database URL for Prisma (Postgres)
DATABASE_URL="postgresql://usuario:password@localhost:5432/finanzas_personales?schema=public"

# JWT secret
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
PORT=3000